footer {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-top: 10px;

  background-color: gray;
  color: white;
}

.footer-section {
  width: 100%;

}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  color: lightgray;
}
