footer {
  width: 100%;
  background-color: #3a4651;
  margin-top: 20px;
}

.footer-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-social li {
  flex: 1;
  margin: 0 5px;
}

.footer-social {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  color: white;
}

.footer1 {
  background-color: #3a4651;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 0.3;
  padding: 10px;
}

.footer2 {
  background: #242a2f;
  color: #a6acb2;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
}

a {
  color: white;
}

.footer-logo {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}
