.header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(4 191 250 / var(--tw-bg-opacity));
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
